extends layout

block content
	#header
		#logo
			h1
				a(href='/')
					img(src="images/lifegraph-logo.png", width="150", height="60", style="margin-top:-20px")
		#menu
			ul
				li
					a(href='/') Home
				li 
					a(href='/ideas') Ideas
				li 
					a(href='/tools') Tools
				li
					a(href='/how-to') How-To's
				li.current_page_item  
					a(href='/about') About
				li  
					a(href='/contact') Contact

	#page
		.two-column
			.lbox4
				h2 About Lifegraph Labs
				| We’re six engineering students from Olin College in Needham, MA working to enable everyday people to build apps to connect their physical and virtual interactions. We are introducing a platform for developers to persist, record, and share physical interactions on Facebook's Open Graph.

				h2(style="padding-top:30px;") Goals and Understanding
				| Our goal is to connect over 955 million monthly active users with Facebook through their daily interactions, especially those interactions not experienced sitting at a terminal. The team wants to catalyze the transition to widespread use of intuitive, value-creating devices that are embedded in every aspect of people’s lives. In doing so, the team will validate and jumpstart an industry of physical devices connected to Facebook’s Open Graph API.

			.rbox6

				iframe(width="640", height="360", src="http://www.youtube.com/embed/BGUhGGuv3CY?feature=player_detailpage", frameborder="0", allowfullscreen, style="padding-left:30px")
