extends layout

block content
	#header
		#logo
			h1
				a(href='#') Lifegraph Labs
		#menu
			ul
				li
					a(href='/') Home
				li
					a(href='/how-to') How-To's
				li  
					a(href='/about') About
				li.current_page_item
					a(href='/contact') Contact
	#page
		#cbox1
			h2 Contact us!
			p.lead Whether it's a question, a comment, or a great hack you built with the Lifegraph platform, we'd love to know!

