extends layout

block content
	#page
		#cbox1
			h2 Contact us!
			| Whether it's a question, a comment, or a great hack you built with the Lifegraph platform, we'd love to know!

			center(style="padding: 30px;")
				h3 
					a.link-style(href="mailto:fb.scope@gmail.com", style="text-decoration: none;") Contact!


