extends layout

block content
	#page
		#cbox1(style="text-align:center")
			h2 Contact us
			| Whether it's a question, a comment, or a great hack you built with the Lifegraph platform, we'd love to know!
			center
				h3 
					a.link-style(href="mailto:lifegraphlabs@gmail.com", style="text-decoration: none;") Email us!


