extends layout

block content
	img(id="main-page-logo", src="images/lifegraph-logo.png", style="padding-bottom:10px")
	div.navbar
		div.navbar-inner
			div.container
				a(href='#').brand Lifegraph Labs
				ul.nav
					li 
						a(href='/') Home
					li  
						a(href='/about') About
					li.active
						a(href='/contact') Contact
