extends layout

block content
	#header
		#logo
			h1
				a(href='/')
					img(src="images/lifegraph-logo.png", width="150", height="60", style="margin-top:-20px")

		#menu
			ul
				li.current_page_item
					a(href='/') Home
				li 
					a(href='/ideas') Ideas
				li 
					a(href='/tools') Tools
				li
					a(href='/how-to') How-To's
				li  
					a(href='/about') About
				li  
					a(href='/contact') Contact

	#banner
		div#sliderFrame
			div#slider
				img(src='/images/slide.png',alt='Introducing the Lifegraph Platform - the Future of Social')
				img(src='/images/manufacture_resized.jpg',alt="Persist, record, and share physical interactions on Facebook's Open Graph")

	#page
		#sidebar
			#box1
				h2.title Recent News
				a(class="twitter-timeline", href="https://twitter.com/LifegraphLabs", data-widget-id="302972798412931073")
				//| Tweets by @LifegraphLabs

		#content
			#cbox1
				h2 Welcome to the Future of Social
				h3(style="margin-top: -6px") The Lifegraph platform makes building socially-connected devices a joy. Join the movement!	
				div(style="padding-top: 25px; padding-bottom: 20px")
					| We have created the first social physical <=> digital platform for makers and developers of any level of experience to easily build socially-connected physical devices. 
					| We've chosen to first focus on linking devices to Facebook's Open Graph ecosystem using a set of off-the-shelf hardware built on top of Arduino as the base platform. 	


				h2 Get Building with the Lifegraph Platform
				div(style="padding-top: 25px; padding-bottom: 20px")
					| Through our how-to's, tutorials, and blog posts about the cool applications we've built with the platform, this site is aimed at giving builders the tools they need to get their own applications up and running in no time.
					| Check out our 
					a(href='/tools', style="text-decoration: none") tools 
					| page to start compiling the materials you'll need to start hacking, and then visit the 
					a(href='/how-to', style="text-decoration: none") how-to's 
					| section to get started in earnest. 

	// d3 Stuff
	// link(rel='stylesheet', href='/stylesheets/d3.style2.css')
	// script(type='text/javascript', src='http://d3js.org/d3.v2.min.js')
	// script(type='text/javascript', src='/d3/d3.main2.js');