extends layout

block content
	#header
		#logo
			h1
				a(href='/')
					img(src="images/lifegraph-logo.png", width="150", height="60", style="margin-top:-20px")

		#menu
			ul
				li.current_page_item
					a(href='/') Home
				li 
					a(href='/hardware') Hardware
				li
					a(href='/how-to') How-To's
				li  
					a(href='/about') About
				li  
					a(href='/contact') Contact

	#banner
		div#sliderFrame
			div#slider
				img(src='/images/open_graph_center.png',alt='Introducing the Lifegraph Platform - the Future of Social')
				img(src='/images/manufacture_resized.jpg',alt="Persist, record, and share physical interactions on Facebook's Open Graph")

	#page
		#sidebar
			#box1
				h2.title Recent News
				a(class="twitter-timeline", href="https://twitter.com/LifegraphLabs", data-widget-id="302972798412931073")Tweets by @LifegraphLabs

				//ul.style1
				//	li.first
				//		a(href='#') Check out our new tutorial on ButtonGraph!
				//	li
				//		a(href='http://lifegraphlabs.tumblr.com/') Check out our blog!
				//p
				//	a.link-style(href='#', style="text-decoration: none;") Read More
		#content
			#cbox1
				h2 Welcome to the 
					a Future of Social
				h3(style="margin-top: -6px") The Lifegraph platform makes building socially-connected devices a joy. Join the movement!	
				div(style="padding-top: 25px; padding-bottom: 20px")
					#two-column
						#lbox2
							img(src="images/graphbutton_icon.png", alt="", width="100", height="100")
						#rbox8
							h3 Wifi Solutions
							| Connecting to Wifi from your hardware device is now extremely easy with the Lifegraph Platform. We provide several different ways you can easily connect to the Internet.

					#two-column
						#lbox2
							img(src="images/graphbutton_icon.png", alt="", width="100", height="100")
						#rbox8
							h3 Identitiy Solution
							| Lorem Ipsum Danish cotton candy toffee candy faworki bear claw tootsie roll sweet roll. Toffee carrot cake donut caramels wafer marzipan cotton candy. Danish applicake candy soufflé jelly-o. 

					#two-column
						#lbox2
							img(src="images/graphbutton_icon.png", alt="", width="100", height="100")
						#rbox8
							h3 Login Solution
							| Lorem Ipsum Danish cotton candy toffee candy faworki bear claw tootsie roll sweet roll. Toffee carrot cake donut caramels wafer marzipan cotton candy. Danish applicake candy soufflé jelly-o. 

				h2 See what you can build with 
					a Lifegraph Platform
				| Check out our examples of cool things you can build with the Lifegraph platform! To get started, check out our mini how-to's. 


	// d3 Stuff
	// link(rel='stylesheet', href='/stylesheets/d3.style2.css')
	// script(type='text/javascript', src='http://d3js.org/d3.v2.min.js')
	// script(type='text/javascript', src='/d3/d3.main2.js');