extends layout

block content
	img(id="main-page-logo", src="images/lifegraph-logo.png")
	div.navbar
		div.navbar-inner
			div.container
				a(href='#').brand #{title}
				ul.nav
					li.active 
						a(href='#') Home
					li  
						a(href='#') About
					li  
						a(href='#') Contact




