extends layout

block content
	img(id="main-page-logo", src="images/lifegraph-logo.png")
	div.navbar
		div.navbar-inner
			div.container
				a(href='#').brand #{title}
				ul.nav
					li.active 
						a(href='#') Home
					li  
						a(href='#') About
					li  
						a(href='#') Contact

	ul.thumbnails(id="hack-marketing-display")
		li.span4
			a(href="#", class="thumbnail")
				img(src="http://placehold.it/300x200", alt="")
		li.span4
			a(href="#", class="thumbnail")
				img(src="http://placehold.it/300x85", alt="")
		li.span2
			a(href="#", class="thumbnail")
				img(src="http://placehold.it/150x85", alt="")
		li.span2
			a(href="#", class="thumbnail")
				img(src="http://placehold.it/150x85", alt="")

	h3 Welcome to the Future
	p We’re six engineering students from Olin College in Needham, MA working to enable everyday people to build apps to connect their physical and virtual interactions. 
	| We are introducing a platform for developers to persist, record, and share physical interactions on Facebook's Open Graph.
	| Join us in building a platform for the next generation of sharing!



