extends layout

block content
	#header
		#logo
			h1
				a(href='#') Lifegraph Labs
		#menu
			ul
				li.current_page_item
					a(href='/') Home
				li
					a(href='/how-to') How-To's
				li  
					a(href='/about') About
				li  
					a(href='/contact') Contact

	#banner
		img(src='images/ant_ant_circuits.png', width='1100', height='350', alt='')
	#page
		#sidebar
			#box1
				h2.title Recent News
				ul.style1
					li.first
						a(href='#') Check out our new tutorial on ButtonGraph!
					li
						a(href='http://lifegraphlabs.tumblr.com/') Check out our blog!
				p
					a.link-style(href='#') Read More
		#content
			#cbox1
				h2 Welcome to the Future
				
				h4 Introducing the Lifegraph Platform, a platform for developers to persist, record, and share physical interactions on Facebook's Open Graph.

				h4 Check out our examples of cool things you can build with the Lifegraph platform! To get started, check out our mini how-to's. 			


	// d3 Stuff
	// link(rel='stylesheet', href='/stylesheets/d3.style2.css')
	// script(type='text/javascript', src='http://d3js.org/d3.v2.min.js')
	// script(type='text/javascript', src='/d3/d3.main2.js');