extends layout

block content
	#header
		#logo
			h1
				//a(href='#') Lifegraph Labs
				img(src="images/lifegraph-logo.png", width="150", height="60", style="margin-top:-20px")

		#menu
			ul
				li.current_page_item
					a(href='/') Home
				li
					a(href='/how-to') How-To's
				li  
					a(href='/about') About
				li  
					a(href='/contact') Contact

	#banner
		div#sliderFrame
			div#slider
				img(src='/jsImgSlider/images/slider-1.jpg',alt='Introducing the Lifegraph Platform')
				img(src='/jsImgSlider/images/slider-2.jpg',alt='Persist, record, and share physical interactions')
				img(src='/jsImgSlider/images/slider-3.jpg',alt='Welcome to the future of social')

	#page
		#sidebar
			#box1
				h2.title Recent News
				a(class="twitter-timeline", href="https://twitter.com/LifegraphLabs", data-widget-id="302972798412931073")Tweets by @LifegraphLabs

				//ul.style1
				//	li.first
				//		a(href='#') Check out our new tutorial on ButtonGraph!
				//	li
				//		a(href='http://lifegraphlabs.tumblr.com/') Check out our blog!
				//p
				//	a.link-style(href='#', style="text-decoration: none;") Read More
		#content
			#cbox1
				h2 Welcome to the Future of Social
				
				h4 Introducing the Lifegraph Platform, a platform for developers to persist, record, and share physical interactions on Facebook's Open Graph.

				h4 Check out our examples of cool things you can build with the Lifegraph platform! To get started, check out our mini how-to's. 			


	// d3 Stuff
	// link(rel='stylesheet', href='/stylesheets/d3.style2.css')
	// script(type='text/javascript', src='http://d3js.org/d3.v2.min.js')
	// script(type='text/javascript', src='/d3/d3.main2.js');