extends layout

block content
	#page
		.row-fluid
			

		.row-fluid(id="description")
			table
				tr(id="steps", style="text-align:center;")
					td
						h2(style="padding-bottom:30px;") Step 1
					td
						h2(style="padding-bottom:30px;") Step 2
					td
						h2(style="padding-bottom:30px;") Step 3
					td
						h2(style="padding-bottom:30px;") Step 4
				tr
					td
						center
							a(href="/how-to/wifi-arduino")
								img(id="wifi-arduino", src="/images/diagrams/wifi-arduino.png", class="toolImg", style="height:200px; width:200px;")
							h3	
								a(href="/how-to/wifi-arduino") Connect to WiFi
						div Make your Arduino talk to the Internet and make a POST request.
					td
						center
							a(href="/how-to/graphbutton")
								img(id="graphbutton", src="/images/diagrams/graphbutton.png", class="toolImg", style="height:200px; width:200px;")
							h3
								a(href="/how-to/graphbutton") Button to Open Graph
						div Create a circuit that posts an action to your profile on the Open Graph.
					td
						center
							a(href="/how-to/tagger")
								img(id="tagger", src="/images/diagrams/tagger.png", class="toolImg", style="height:200px; width:200px;")
							h3
								a(href="/how-to/tagger") Tap to Open Graph
						div Tap your RFID card to post an action to your profile on the Open Graph. 
					td
						center
							a(href="/how-to/music-party")
								img(id="music-party", src="/images/diagrams/music-party.png", class="toolImg", style="height:200px; width:200px;")
							h3
								a(href="/how-to/music-party") Music Party
						div Passively streams your favorite music with the tap of an RFID-enabled device.
				tr
					td
					td
						center
							a(href="/how-to/notification-light")
								img(id="notification-light", src="/images/diagrams/notification-light.png", class="toolImg", style="height:200px; width:200px;")
							h3
								a(href="/how-to/notification-light") Notification Light
						div Create a circuit that pulls information from Facebook to your Arduino.
					td
					td
						center
							a(href="/how-to/photobooth")
								img(id="photobooth", src="/images/diagrams/photobooth.png", class="toolImg", style="height:200px; width:200px;")
							h3
								a(href="/how-to/photobooth") Photobooth
						div Takes a photo and posts to your Facebook with the tap of your RFID card.

		.row-fluid(style="padding-top:50px; padding-bottom:30px;")
			h2 What do you think of our tutorials?
			#disqus_thread(style="padding-right: 50px;")

		script(src='/javascripts/disqus.js')
		script
			$('#wifi-arduino').mouseenter(function() {
				$('#wifi-arduino').attr("src", "/images/diagrams/wifi-arduino-selected.png");
			});
			$('#wifi-arduino').mouseleave(function() {
				$('#wifi-arduino').attr("src", "/images/diagrams/wifi-arduino.png");
			});
			$('#graphbutton').mouseenter(function() {
				$('#graphbutton').attr("src", "/images/diagrams/graphbutton-selected.png");
			});
			$('#graphbutton').mouseleave(function() {
				$('#graphbutton').attr("src", "/images/diagrams/graphbutton.png");
			});
			$('#notification-light').mouseenter(function() {
				$('#notification-light').attr("src", "/images/diagrams/notification-light-selected.png");
			});
			$('#notification-light').mouseleave(function() {
				$('#notification-light').attr("src", "/images/diagrams/notification-light.png");
			});
			$('#tagger').mouseenter(function() {
				$('#tagger').attr("src", "/images/diagrams/tagger-selected.png");
			});
			$('#tagger').mouseleave(function() {
				$('#tagger').attr("src", "/images/diagrams/tagger.png");
			});
			$('#music-party').mouseenter(function() {
				$('#music-party').attr("src", "/images/diagrams/music-party-selected.png");
			});
			$('#music-party').mouseleave(function() {
				$('#music-party').attr("src", "/images/diagrams/music-party.png");
			});						
			$('#photobooth').mouseenter(function() {
				$('#photobooth').attr("src", "/images/diagrams/photobooth-selected.png");
			});
			$('#photobooth').mouseleave(function() {
				$('#photobooth').attr("src", "/images/diagrams/photobooth.png");
			});