extends layout

block content
	#header
		#logo
			h1
				a(href='/')
					img(src="images/lifegraph-logo.png", width="150", height="60", style="margin-top:-20px")
		#menu
			ul
				li
					a(href='/') Home
				li 
					a(href='/ideas') Ideas
				li 
					a(href='/tools') Tools
				li.current_page_item
					a(href='/how-to') How-To's
				li  
					a(href='/about') About
				li  
					a(href='/contact') Contact

	#page
		#sidebar
			#box1
				h2.title Tutorials
				ul.style1
					li
						a.list(href='#buttongraph') Button Graph
					li
						a.list(href='#entrance') Entrance
					li
						a.list(href='#') More Advanced Examples
				
		#content
			#cbox1
				.two-column(id="buttongraph")
					.lbox3
						img(src="images/graphbutton_icon.png", alt="", width="200", height="200")
					.rbox7
						h3 #1. Button to Open Graph - the basics!
						b What you'll learn: 
						br
						| How to create a circuit that posts an action to your profile on the Open Graph.
						br
						br
						b What you'll need:
						br
						li A WiFly Module
						li An Arduino + a WiFly Module
						li A switch or some wire
						center
							a.link-style(href='#', onclick="window.open('https://github.com/lifegraph/graphbutton-imp');", style="text-decoration: none;") Go to How-To						

						br
						b Alternatively, you can also use an Electric Imp (soldering required):
						br
						li An Electric Imp
						li An Electric Imp breakout board or an Arduino + an Electric Imp Shield
						li A switch or some wire
						li A soldering iron
						center
							a.link-style(href='#', onclick="window.open('https://github.com/lifegraph/graphbutton-wifly');", style="text-decoration: none;") Go to How-To


				.two-column(id="entrance", style="padding-top: 50px;")
					.lbox3
						img(src="images/music.png", alt="", width="200", height="200")
					.rbox7
						h3 #2. Entrance Tutorial!
						b What it is:
						br
						| Entrance is a device that passively streams your favorite music with the tap of an RFID-enabled device. It links the unique ID of your RFID device (like Charlie Cards and Clipper Cards) to the Facebook ID of the user, which gives it the ability to find a user’s favorite artists from Facebook and stream them through Tomahawk.
						br
						br
						b What you'll learn: 
						br
						| You'll learn how to read RFID cards, communicate between an Arduino and a local Node server, and how to interface with Lifegraph Connect for authentication and device ID storage.
						br
						br
						b What you'll need:
						br
						li A Computer
						li An Internet Connection
						li An Arduino
						li Adafruit NFC/RFID Reader Shield (& Header Pins to connect to the Arduino)
						li An RFID Tag (Any 125kHz RFID card will work)
						li A Facebook account (that has ‘liked’ bands/music)
						center
							a.link-style(href='#', onclick="window.open('https://github.com/lifegraph/entrance-tutorial');", style="text-decoration: none;") Go to How-To

		script(src='/javascripts/tutorials.js')
