extends layout

block content
	#header
		#logo
			h1
				a(href='/')
					img(src="images/lifegraph-logo.png", width="150", height="60", style="margin-top:-20px")
		#menu
			ul
				li
					a(href='/') Home
				li.current_page_item
					a(href='/how-to') How-To's
				li  
					a(href='/about') About
				li  
					a(href='/contact') Contact

	#page
		#sidebar
			#box1
				h2.title Tutorials
				ul.style1
					li
						a(href='#') Button Graph
					li
						a(href='#') Entrance
					li
						a(href='#') More Advanced Examples
				
		#content
			#cbox1
				#two-column
					#lbox3
						img(src="images/graphbutton_icon.png", alt="", width="200", height="200")
					#rbox7
						h3 #1. Button to Open Graph - the basics!
						b What you'll learn: 
						br
						| How to create a circuit that posts an action to your profile on the Open Graph.
						br
						br
						b What you'll need:
						br

						li An Electric Imp
						li An Electric Imp breakout board or an Arduino + an Electric Imp Shield
						li A switch or some wire
						center
							a.link-style(href='#', onclick="window.open('https://github.com/lifegraph/graphbutton-imp);", style="text-decoration: none;") Go to How-To

						br
						b An alternative option:
						li A WiFly Module
						li An Arduino + a WiFly Module
						li A switch or some wire
						center
							a.link-style(href='#', onclick="window.open('https://github.com/lifegraph/graphbutton-wifly');", style="text-decoration: none;") Go to How-To							


		script(src='/javascripts/tutorials.js')
