extends layout

block content
	img(id="main-page-logo", src="images/lifegraph-logo.png", style="padding-bottom:10px")
	div.navbar
		div.navbar-inner
			div.container
				a(href='#').brand Lifegraph Labs
				ul.nav
					li
						a(href='/') Home
					li.active
						a(href='/how-to') How-To's
					li 
						a(href='/about') About
					li  
						a(href='/contact') Contact

	div(id="tutorial-list")
		h3 How-to Number 1
		h4 Posting to the Open Graph- the basics. 
		b What you'll learn: 
		br
		| How to create a circuit that posts an action to your profile on the Open Graph.
		br
		br
		b What you'll need: 
		li An Electric Imp
		li An Electric Imp breakout board, or an Arduino + an Electric Imp Shield
		li A switch or some wire

		br
		input(type="submit", value="Go to How-To", id="tutorial-one-button", class="btn btn-primary pull-right")


