extends layout

block content
	#header
		#logo
			h1
				a(href='/')
					img(src="images/lifegraph-logo.png", width="150", height="60", style="margin-top:-20px")
		#menu
			ul
				li
					a(href='/') Home
				li.current_page_item 
					a(href='/ideas') Ideas
				li
					a(href='/tools') Tools
				li
					a(href='/how-to') How-To's
				li  
					a(href='/about') About
				li
					a(href='/contact') Contact
	#page
		#cbox1
			h2 What we built with the Lifegraph Platform
			.two-column
				.lbox2
					
				.rbox8

			h2 What will you do with the Lifegraph Platform? Submit your ideas today!
