extends layout

block content
	#header
		#logo
			h1
				a(href='/')
					img(src="images/lifegraph-logo.png", width="150", height="60", style="margin-top:-20px")
		#menu
			ul
				li
					a(href='/') Home
				li.current_page_item 
					a(href='/ideas') Ideas
				li
					a(href='/tools') Tools
				li
					a(href='/how-to') How-To's
				li  
					a(href='/about') About
				li
					a(href='/contact') Contact
	#page
		#sidebar
			#box1
				h2.title Examples
				ul.style1
					li
						a(href='#entrance') Entrance
					li
						a(href='#expolive') Expo Live


		#content
			#cbox1
				h2 Awesome Things We've Already Built with Lifegraph!
				.two-column(id="entrance", style="padding-top:20px;")
					.lbox3
						img(src="images/entrance.jpg", width="200", height="200")
					.rbox7
						h3 Entrance
						| Bluetooth speaker that automatically plays user’s favorite music when tagged with RFID card.
						| I need a better catchy phrase.
				
				.two-column(id="expolive", style="padding-top:20px;")
					.lbox3
						img(src="images/entrance.jpg", width="200", height="200")
					.rbox7
						h3 Expo Live
						| I need a better catchy phrase.


				h2 What will you do with the Lifegraph Platform? Submit your ideas today!
