extends layout

block content
	#header
		#logo
			h1
				a(href='/')
					img(src="images/lifegraph-logo.png", width="150", height="60", style="margin-top:-20px")
		#menu
			ul
				li
					a(href='/') Home
				li.current_page_item 
					a(href='/ideas') Ideas
				li
					a(href='/tools') Tools
				li
					a(href='/how-to') How-To's
				li  
					a(href='/about') About
				li
					a(href='/contact') Contact
	#page
		#sidebar
			#box1
				h2.title Our Examples
				ul.style1
					li
						a.list(href='#entrance') Entrance
					li
						a.list(href='#expolive') Expo Live
					li
						a.list(href='#') One More Flagship Idea


			#box1(style="padding-top:20px")
				h3 What will you do with the Lifegraph Platform? Submit your ideas today!
				center
					h3 
						a.link-style(id="open-form", style="text-decoration: none;", href="#") Submit

		div(id="dialog-form", title="Submit Your Ideas Today!")
			form(style="padding-top: 15px;")
				input(id="name", type="text", width="100%", placeholder="Your Name")
				textarea(id="idea", placeholder="What will you do with the Lifegraph Platform?")
				a.link-style(style="text-decoration: none; color: white; float:right;", href="#") Post


		script(type='text/javascript', src='/javascripts/dialog.js');


		#content
			#cbox1
				h2 Awesome Things We've Already Built with Lifegraph!
				.two-column(id="entrance", style="padding-top:20px;")
					.lbox3
						img(src="images/entrance.jpg", width="200", height="200")
					.rbox7
						h3
							a.nostyle(href="https://github.com/lifegraph/entrance-tutorial") Entrance
						h4 Bluetooth speaker that automatically plays user’s favorite music when tagged with RFID card.
						h4 I need a better catchy phrase.
				
				.two-column(id="expolive", style="padding-top:20px;")
					.lbox3
						img(src="images/expolive.gif", width="200", height="200")
					.rbox7
						h3
							a.nostyle(href="http://lifegraphlabs.tumblr.com/post/41299515525/expolive") Expo Live
						h4 A catchy phrase goes here.
				
				.two-column(id="PLACEHOLDER", style="padding-top:20px;")
					.lbox3
						img(src="images/OG_logo.png", width="200", height="200")
					.rbox7
						h3 One More Flagship Idea
						h4 Do we have one? Door Tracker?

			#cbox1
				h2 What will you build? We'd love to hear your ideas!