doctype 5
html
	head
		title= title
		// link(rel='stylesheet', href='/stylesheets/style.css')
		// link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css')
		link(rel='stylesheet', href='/stylesheets/super.css')
		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Archivo+Narrow:400,700')
		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans|Montserrat:400,700')

		//script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", type="text/javascript")

		link(rel='stylesheet', href='/jsImgSlider/themes/8/js-image-slider.css')
		script(src='/jsImgSlider/themes/8/js-image-slider.js')

	body
		div(id="fb-root")
		script(src='/javascripts/utils.js')

		#wrapper.container
			block content
			#footer
				center
					img(src="images/lifegraph-logo.png", width="100", height="40")				
					p
						| Copyright (c) 2013 Lifegraph Labs. All Rights Reserved.
					div(class="fb-like", data-href="http://lifegraphlabs.com", data-send="true", data-width="450", data-show-faces="true", data-font="arial", style="padding-left:150px")
				
