doctype 5
html
	head
		title= title
		// link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css')
		link(rel='stylesheet', href='/stylesheets/super.css')
		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Archivo+Narrow:400,700')
		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans|Montserrat:400,700')

		//script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", type="text/javascript")
		script(src="//code.jquery.com/ui/1.9.1/jquery-ui.js", type="text/javascript")
		link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
		link(rel='stylesheet', href='/jsImgSlider/js-image-slider.css')
		script(src='/jsImgSlider/js-image-slider.js')

	body
		div(id="fb-root")
		script(src='/javascripts/utils.js')

		#wrapper.container
			block header
				#header
					#logo
						h1
							a(href='/')
								img(src="images/lifegraph-logo.png", width="150", height="60", style="margin-top:-20px")
					#menu
						ul
							li(class=(highlight=="homepage"?'current_page_item':''))
								a(href='/') Home
							li(class=(highlight=="ideas"?'current_page_item':''))
								a(href='/ideas') Ideas
							li(class=(highlight=="tools"?'current_page_item':''))
								a(href='/tools') Tools
							li(class=(highlight=="how-tos"?'current_page_item':''))
								a(href='/how-to') How-To's
							li(class=(highlight=="about"?'current_page_item':''))
								a(href='/about') About
							li(class=(highlight=="contact"?'current_page_item':''))
								a(href='https://twitter.com/lifegraphlabs') Contact
			block content
			#footer(style="margin-top:50px;")
				center
					img(src="images/lifegraph-logo.png", width="100", height="40")				
					p
						| Copyright (c) 2013 Lifegraph Labs. All Rights Reserved.
					div(class="fb-like", data-href="http://lifegraphlabs.com", data-send="true", data-width="450", data-show-faces="true", data-font="arial", style="padding-left:128px")