extends layout

block content
	#page
		#sidebar
			#box1
				h2.title Example Projects
				ul.style1
					li
						a.list(href='#entrance') Music Party
					li
						a.list(href='#expolive') Expo Live


			#box1(style="padding-top:20px")
				h3 What will you do with the Lifegraph Platform? Submit your ideas today!
				center
					h3 
						a.link-style(id="open-form", style="text-decoration: none; font-size: 15px", href="javascript:void(0)") I have an idea!

		div(id="dialog-form", title="Submit Your Ideas Today!")
			form(style="padding-top: 15px;")
				input(id="name", type="text", width="100%", placeholder="Project Name")
				textarea(id="idea", placeholder="What will you do with the Lifegraph Platform?")
				a.link-style(id="button-idea", style="text-decoration: none; color: white; margin-top:0px", href="#") Post

		#content
			#cbox1
				h2 Cool Projects Built with Lifegraph
				.two-column(id="entrance", style="padding-top:20px;")
					.lbox3
						img(src="images/entrance.jpg", width="200", height="200")
					.rbox7
						h2(style="color: #FE801C")
							a(href="http://entrance.launchrock.com/", target="_blank") Music Party
						h4(style="padding-bottom: 10px") Bluetooth speaker that automatically plays user’s favorite music when tagged with RFID card.
					.lbox10(style="color: #000000")
						| Imagine going on a road trip across the country, walking into a quaint, coffee shop you’ve never been to, tapping a small device and having it 
						| instantly play your favorite music.  Your friends walk in behind you, tap the device, and the speakers continue to play music at the intersection
						| at your group’s music taste. We’ve created that experience with Music Party.
						br
						br
						| Music Party is a device that can automatically stream a user’s favorite music over Bluetooth by extracting their favorite artists from Facebook. 
						br
						br
						| All it requires is the tap of an RFID-enabled chip to gain access to the user’s digital identity. 
						| Many people already carry these chips in the form of prox cards, work badges, or public transportation passes. 
						br
						br
						| Once you tap in, you end up in a Music Party Room, like below: 
						img(src="images/musicPartyRoomScreenshot.png", style="margin-top: 10px; margin-bottom: -30px")
						
						| Music Party is surprisingly easy to make. If you would like an in-depth tutorial about creating an Music Party device, you can find one 
						a(href="https://github.com/lifegraph/musicparty", target="_blank") here. 
						br
						br
						p(style="padding-bottom: 5px") In terms of hardware, the device itself is composed of: 
						li(style="padding-bottom: 5px") An arduino. 
						li(style="padding-bottom: 5px") An Electric Imp, for connecting to the Internet. 
						li(style="padding-bottom: 5px") RFID reader for capturing the ID of the user's RFID tag. 
						li(style="padding-bottom: 20px") Extra computer to "listen" for the music.

						| On the software front, we’ve built a custom back-end application, called 
						a(href="http://connect.lifegraphlabs.com", target="_blank") Lifegraph Connect
						| , which 
						| facilitates an easier login process and keeps all the physical to digital identity linkages safe in one database. The Lifegraph Connect platform enables 
						| anyone to take advantage of a central database of users and removes the need for an application-specific website.  
						| You can find the API for Lifegraph Connect
						a(href="https://github.com/lifegraph/node-lifegraph", target="_blank")  here. 
						br
						br
						| Whenever the RFID reader detects the tap of an RFID device, it grabs the ID and sends it to the Music Party server. The Music Party server 
						| then runs some logic to keep track of the users in a “streaming session”, pulls their favorite artists from Facebook, calculates which songs 
						| everyone in the room would like, then acquires the streams for those tracks via the libspotify API. 
						br
						br
						| The second endpoint is for streaming. When the Bluetooth-enabled computer hits this endpoint, the server begins piping the track into the HTTP response, 
						| which the computer then streams over Bluetooth to the Jambox.

				div(id="SPACER", style="padding-top:20px; padding-bottom:20px")
				.divider
				div(id="SPACER", style="padding-top:20px; padding-bottom:20px")

				.two-column(id="expolive")
					.lbox3
						img(src="images/expolive.gif", width="200", height="200")
					.rbox7
						h2(style="color: #FE801C")
							a(href="http://olinexpo.com", target="_blank") Expo Live
						h4(style="padding-bottom: 10px") We outfitted Olin's all-students project exposition day with Facebook Open Graph connected devices for a new type of interactive conference experience. 
					.lbox10(style="color: #000000")
						| Every semester, Olin Exposition showcases the very best of Franklin W. Olin College students’ work to 
						| hundreds of guests. Expo is a chance for students and outside participants to make connections 
						| and see all of the cool projects that Oliners pour hundreds of hours into. 
						br
						br
						| With the goal of increasing engagement between Expo student presenters and visitors viewing their projects, we 
						| spent 2 months designing, prototyping, and productionizing the system that became ExpoLive. 
						br
						br
						img(src="http://olinexpo.com/assets/expolive-logo.png", style="display: block; margin-left: auto; margin-right: auto;")
						p(style="padding-bottom: 5px") Our system: 
						li(style="padding-bottom: 5px") Digitizes all the projects at Expo so that they can be referred to in the future.
						li(style="padding-bottom: 5px") Establishes a single list of all projects with contact info to navigate the sea of projects.
						li(style="padding-bottom: 5px") Enables easy follow-up between presenters and audience members through a seamless tracking system. We want presenters to know every audience member’s name with the lowest amount of effort. The same goes for audience members knowing which presentations they went to.
						li(style="padding-bottom: 5px") Allows participants to see which projects their friends are visiting through posting projects visited on Facebook in real time.
						li(style="padding-bottom: 5px") Enables a visual display of the most popular projects by having a real time map displaying locations of all participants at Expo in aggregate.

						| The ExpoLive system had to track 100+ projects, ~300 presenters, and ~600 visitors. We wanted something with a seamless form 
						| factor, and we accomplished that with what we called the Ant Farm system.
						| Every participant wears an Ant, a custom device we made. It uses an nrf24l01+ to do wireless communication and runs off 
						| of a 3v button cell. Each Ant has a unique ID coupled to its user. The ants are easily slipped into partcipants' plastic name tag holders. 


						.three-column(style="display: block; margin-left: auto; margin-right: auto; padding-top: 20px;")
							.lbox3(style="margin-left: 10px")
								img(src="images/ant1.jpg", width="250", height="250")
							.lbox3(style="margin-left:10px")
								img(src="images/ant2.jpg", width="250", height="250")
							.lbox3(style="margin-left: 10px")
								img(src="images/ant3.jpg", width="250", height="250")

						.test(style="clear:both; padding-top:20px;")
						| Every project has a Colony. Colonies run on the same hardware as Ants but run a slightly different software. 
						| Each Colony pings out its ID at random time intervals to all the Ants in its vicinity. 
						br
						.two-column(style="padding-top: 20px; padding-bottom: 20px")
							.lbox3
								img(src="images/antAtProject.jpg", width="250", height="250", style="display: block; margin-left: auto; margin-right: auto;")
							.lbox3(style="margin-left: 20px")
								| The Colony inside of a project description card next to the project board and presenter. 
						
						| We scattered about 4 Queens throughout the hallways. Queens picked up on signals sent by the Ants and pushed them to our 
						| servers so that we could display live data.

						.two-column(style="padding-top: 20px; padding-bottom: 20px")
							.lbox3.offset2(style="text-align: right; padding-right: 20px")
								| A Queen set up in one of the main Expo hallways full of projects. These were evenly distributed in order to catch 
								| the signals sent by Ants and push them to our servers, enabling us to display live data. 
							.lbox3
								img(src="images/queenInHallway.jpg", width="250", height="250")
						
						.two-column(style="padding-bottom: 20px")
							.lbox3
								img(src="images/expoLiveRealtime.jpg", width="250")
							.lbox5(style="margin-left: 20px;")
								| The results? An awesome display of realtime project attendance, which really drew a crowd. 
								| The visualization enabled participants and guests to know which projects were popular when, how to avoid the crowds, 
								| and which projects were the crowd favorites.  
						| In the end, we created 76 Ants and 44 Colonies and had over 1000 visitors to olinexpo.com and data for the 600+ participants.
						| Afterward, we were able to send out personalized emails to participants, detailing which project presentations they attended
						| and the student presenters of each. We encouraged them to follow up with students whose projects resonated with them. 
						br
						br
						| To see the full blog post on pulling off ExpoLive, head to the 
						a(href="http://lifegraphlabs.tumblr.com/", target="_blank") Lifegraph blog!

			#cbox1
				h2 What will you build? We'd love to hear your ideas!

			#cbox1
				#ideas
					each idea in ideas
						.divider
							h3= "\"" + idea.name + "\""
							h4= idea.idea
					.divider
				center
					a.link-style(id="open-form-2", style="text-decoration: none;", href="javascript:void(0)") Submit Your Idea Now!
	script(type='text/javascript', src='/javascripts/dialog.js');