extends layout

block content
	#page
		#cbox1
			h2 Hardware Modules

			div(class="row-fluid", style="padding-top:20px; margin-left:50px")
				h3 Microcontroller & Accessories
				
				div(class="row-fluid")
					h4(class="span2", style="padding-top:10px") 
						a(href="https://www.sparkfun.com/products/11021", target="_blank") Arduino Uno ($30)
						a(href="https://www.sparkfun.com/products/11021", style="padding:10px", class="link-style", target="_blank") Buy Now
					img(src="images/uno.jpg", height="200", class="span2")
					div(class="span3", style="padding-top:20px") The Arduino Uno is our microcontroller of choice. The Arduino platform has a thriving community which is great when looking for libraries to interact with new hardware. It’s programmed in C/C++.
			

					h3(class="span3 offset1", style="padding-top:10px") Hardware You'll Need
					div(class="span3 offset1", style="padding-top:10px") We've experimented with a lot of different hardware and narrowed it down, so that you don't have to. Here are our picks!

				div(class="row-fluid")
					h4(class="span2", style="padding-top:10px")
						a(href="https://www.sparkfun.com/products/10007", target="_blank") Stackable Header Kit for Arduino ($1.50)
						br
						a(href="https://www.sparkfun.com/products/10007", style="padding:10px", class="link-style", target="_blank") Buy Now
					img(src="images/headerPins.jpg", height="200", class="span2")
					div(class="span3", style="padding-top:20px") You'll need this header pin kit for stacking the Arduino shields. We'd recommend buying two of these. 


			div(class="row-fluid", style="margin-left:50px")
				h3 Internet connectivity
				
				div(class="row-fluid")
					h4(class="span2", style="padding-top:10px") 
						a(href="https://www.sparkfun.com/products/9954", target="_blank") WiFly Shield ($70)
						a(href="https://www.sparkfun.com/products/9954", style="padding:10px", class="link-style", target="_blank") Buy Now
					img(src="images/wifly-shield.jpg", height="200", class="span2")
					div(class="span3", style="padding-top:20px") We have found the Sparkfun WiFly shield to be the best form factor for internet connectivity, with reliable communication via SPI. 
				
				div(class="row-fluid", style="padding-top:10px")
					h4(class="span2", style="padding-top:10px") 
						a(href="https://www.sparkfun.com/products/10822", target="_blank") WiFly Module ($30)
						a(href="https://www.sparkfun.com/products/10822", style="padding:10px", class="link-style", target="_blank") Buy Now
					img(src="images/wifly.jpg", height="200", class="span2")
					div(class="span3", style="padding-top:20px") The Sparkfun WiFly module is a cheap and reliable alternative to the WiFly shield. You just need to hook up the TX, RX, VCC, and GND pins to an Arduino to get it working. 				
				
	
			div(class="row-fluid", style="padding-top:10px; margin-left:50px") 
				h3 RFID
				
				div(class="row-fluid")
					h4(class="span2", style="padding-top:10px")
						a(href="http://www.adafruit.com/products/789", target="_blank") RFID Reader ($40)
						a(href="http://www.adafruit.com/products/789", style="padding:10px", class="link-style", target="_blank") Buy Now
					img(src="images/rfidreader.jpg", height="200", class="span2")
					div(class="span3", style="padding-top:20px") This is an Arduino shield designed for reading MiFare 13.56MHz RFIDs. Adafruit also has software libraries for this shield that work really well.

				div(class="row-fluid", style="padding-top:30px")
					h4(class="span2", style="padding-top:10px")
						a(href="http://www.adafruit.com/products/363", target="_blank") RFID Fob ($2.50)
						a(href="http://www.adafruit.com/products/363", style="padding:10px", class="link-style", target="_blank") Buy Now
					img(src="images/mifarefob.jpg", height="200", class="span2")
					div(class="span3", style="padding-top:20px") MiFare is a widely accepted RFID standard. These fobs come with 1k of storage so that you can have additional information about someone stored on their key tags.
	
	div(style="margin-top:50px;")
		#disqus_thread(style="padding-right: 50px;")
	script(src='/javascripts/disqus.js')
		//#cbox1(style="padding-top: 30px; padding-bottom: 30px;")
		//	h2 Software Tools
		//	| Here is the list of the software libraries we provide.		
