extends layout

block content
	#header
		#logo
			h1
				a(href='/')
					img(src="images/lifegraph-logo.png", width="150", height="60", style="margin-top:-20px")
		#menu
			ul
				li
					a(href='/') Home
				li 
					a(href='/ideas') Ideas
				li.current_page_item
					a(href='/tools') Tools
				li
					a(href='/how-to') How-To's
				li  
					a(href='/about') About
				li
					a(href='/contact') Contact
	#page
		#cbox1
			h2 Hardware Tools
			| Here is the list of the hardware stacks you will need.

		#cbox1(style="padding-top: 30px; padding-bottom: 30px;")
			h2 Software Tools
			| Here is the list of the software libraries we provide.		
