body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main-page-logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:30%;
	height:30%;
}

#hack-marketing-display{
	width:900px;
	display:block-inline;
	float:left;
	margin-right: auto;
}

#lifegraph-brief-description{
	width:25%;
	display:block-inline;
	float:right;
}

