body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Homepage styling */

#main-page-logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:30%;
	height:30%;
}

#hack-marketing-display{
	width:900px;
	display:block-inline;
	float:left;
	margin-right: auto;
}

#lifegraph-brief-description{
	width:30%;
	display:block-inline;
	float:right;
}

/* About page styling */

#about-content{
	text-align: center;
}
#about-blurb{
	padding-top: 20px;
	width: 500px;
	float: left;
}

#team-marketing-video{
	width:640px;
	height:360px;
}

/* Contact Page Styling */

#feedback-submit-button{
	float: left;
}

#contact-form{
	padding-left: auto;
	padding-right: auto;
}

#contact-explanation{
	float: right;
	width: 700px;
}

/* How-to's Page */
#tutorial-list{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#tutorial-one-button{
	float: left;
}









